@import url('./variables.css');
@import url('./fonts.css');
@import url('./normalize.css');

html {
	font-family: 'Montserrat', sans-serif;
	color: var(--base-color);
	line-height: 1.2em;

	background-color: var(--contract-color);
}
